{% extends 'devicewebapp/base.html' %}
{% block body_block %}
<div class="jumbotron">
  <h3>Please Login</h3>
  <br>
  <form method="POST" action="{% url 'devicewebapp:user_login' %}">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Enter Username">
    <br><br>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Enter Password">
    <br><br>
    <input type="submit" name="" value="Login">
  </form>
</div>
{% endblock %}
